@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --screen-x: 1280px;
    --screen-y: 720px;
}

@media (prefers-color-scheme: dark) {
     :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

html {
    background-color: black;
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(45deg, #aa0000, #0000aa);
    /* background: linear-gradient(45deg, black, #202020); */
    /* background: linear-gradient( 45deg, #541365, #2b3481); */
    /* background-image: url("https://s7d9.scene7.com/is/image/wheelpros/tsw-bathurst-17x9-18x9.5-silver%20w%20mirror%20cut%20face-1993%20acura%20nsx%2010"); */
}


/* .navbar {
    background-color: white;
} */


/* .navbar input[type="checkbox"],
.navbar .hamburger-lines {
    display: none;
} */

.default-bg {
    background: #ffffff30;
    color: #fff;
    opacity: 0.85;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.navbar {
    /* box-shadow: 0px 5px 10px 0px #aaa; */
    /* position: fixed; */
    width: 100%;
    background: #ffffff30;
    color: #fff;
    opacity: 0.85;
    z-index: 100;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items {
    display: flex;
}

.logo {
    font-size: 2.3rem;
}

.menu-items li {
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.3rem;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover {
    color: #117964;
}

.search {
    background-color: transparent;
    border: 1.5px solid white;
    border-radius: 50px;
    padding: 5px;
    padding-left: 10px;
    width: 300px;
}

.search:focus {
    outline: none;
}

.carousel {
    background: #ffffff30;
    color: #fff;
    opacity: 0.85;
}

.display-movies {
    margin: 10px;
    background: #ffffff30;
    color: #fff;
    opacity: 0.85;
    width: 80%;
    padding: 10px;
}

.card {
    width: 160px;
    /* border: 1px solid white; */
    border-radius: 10px;
    /* transform: scale(100%); */
    /* transition: transform .2s ease-in; */
    background: transparent;
    /* height: 200px; */
    /* border: 1px solid white; */
}


/* .card img {
    padding: 4px;
} */

.image-container {
    width: 160px;
    height: 230px;
    overflow: hidden;
    /* border: 1px solid white; */
}

.image-container img {
    transform: scale(100%);
    transition: transform .3s ease;
}

.card-title {
    font-weight: bold;
    font-size: 14px;
}

.card-year {
    color: #ddd;
    font-size: 15px;
}

.card:hover .image-container img {
    transform: scale(130%);
    transition: all .3s ease;
}

.movie-main {
    padding: 1%;
}

.fullcontainer {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    width: 98%;
    /* border: 2px solid white; */
    padding: 10px;
}

.screen-container {
    width: calc(var(--screen-x) / 1.4);
    /* border: 2px solid blue; */
}

.screen-subcontainer {
    /* can change */
    width: calc(var(--screen-x) / 1.4);
    height: calc(var(--screen-y) / 1.4);
    background-color: black;
    /* border: 2px solid red; */
}

.screen {
    width: calc(var(--screen-x) / 1.4);
    height: calc(var(--screen-y) / 1.4);
}

.frame-setting {
    display: flex;
    /* padding: 5px; */
    background-color: #303050;
}

.frame-setting button {
    padding: 5px;
    margin: 5px;
}

.frame-setting button:hover {
    color: gray;
}

.frame-setting button:active {
    color: white;
}

.movie-description {
    width: calc(var(--screen-x) / 1.4);
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.movie-description img {
    width: 160px;
    height: 230px;
}

.description h1 {
    font-size: 30px;
    /* font-weight: bold; */
}

.description {}

.subinfo {
    color: #aaaaaa;
    display: flex;
    gap: 2%;
    /* width: 100%; */
    /* border: 2px solid red; */
}

.rating {
    font-size: 30px;
    /* font-weight: bold; */
    color: #dddddd;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    /* gap: 2%; */
}

.tags a {
    /* padding: 3px; */
    color: #dddddd;
    /* background-color: red; */
}

.tags a:hover {
    /* padding: 3px; */
    color: grey;
    /* background-color: red; */
}

.mainframe {}

.reco-tab {
    padding: 2px;
    width: auto;
}

.reco-card {
    margin-bottom: 5px;
    /* display: flex; */
}

.reco-desc {
    width: 200px;
}

.reco-desc h3 {
    font-size: 14px;
}

.reco-img {
    margin: 2px;
}

.reco-img img {
    width: 70px;
}

.reco-rat {
    font-size: 12px;
}

.reco-tags {
    font-size: 12px;
}

.reco-tags a:hover {
    color: gray;
    font-size: 12px;
}

.human-resource {
    border-color: lightslategray;
}